<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="generateReport()">
    <i class="fas fa-download fa-sm text-white-50"></i> Descargar Excel
  </button>
</div>

        <div class="row text-center ">
             <div class="col md-3">
                 <div class="card text-center">
            <h3 class="bg-gradient-primary text-gray-100"> {{#nombreMat}} {{nombreMateria}} {{Año}} {{/nombreMat}}</h3>
           <!-- <h2> ASISTENCIAS POR DIA </h2>
                <form action="/asistencia/asisPD" method="GET">
                        <div class="form-group">   
                        <select id="jo" name="asisSel" onchange="myFunction()"> 
                            {{#each fechas}} 
                               <option value="{{fecha}}">{{moment fecha format="DD/MM/YYYY" }}</option> 
                            {{/each}}   
                        </select>
                        <div>
                            <input type="hidden" id="id" name="id" value={{id}}>
                        </div>
                            <div class="form-group">
                                <br>
                                <button class="btn btn-success w-100">
                                    Buscar
                                </button>
                            </div>
                        </form>-->
                    <h3> ASISTENCIAS DE TODA LA MATERIA</h3>    

                        <table class="table caption-top table-bordered">
                           <thead>
                                <tr>
                                    {{#each titleKeys as | key |}}
                                    <th  scope="col">{{key}}</th>
                                    {{/each}}
                                </tr>
                            </thead>
                            <tbody>
                                    {{#each asistZZ as | user |}}
                                <tr>
                                    {{#each ../keys as | key |}}
                                    <th  scope="col">{{lookup user key}}</th>
                                    {{/each}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                                    
            </div>
            
    </div>


                 </div>
             </div><!-- DIV DE las tablas para exponer-->
             


