<div class="container p-4">
    <div class="row">

{{#each materiasArr}}
  <div class="card text-center text-white bg-gradient-secondary  mb-4">
    <div class="card-body">
      <h3 class="card-title text-uppercase">
        {{nombreMateria}}
      </h3>
       <p class="m-2">Profesor {{nombre}} {{apellido}}</p>
      {{#each horarios}}
        <p class="m-2">{{dia}} {{hora_inicio}} {{hora_fin}}</p>   
      {{/each}}

      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/asistencia/{{idhorarios}}/{{idMateria}}" class="btn bg-gradient-info text-gray-100">Asistencias</a>
        <a href="/listarAlumnos/{{idMateria}}" class="btn bg-gradient-success text-gray-100">Inscriptos</a>
      </div>
    </div>
  </div>
{{/each}}

    </div>
</div>