<div class = "scroll"> 
<div class="container p-4 text-center">
    
    <div class="">
        <h3 class="text-info"> Alumnos Inscriptos</h3> 
        <h1  class="text-success"> {{#materias}} <th> {{nombreMateria}} {{Año}}</th> {{/materias}}  </h1> 
         <div class="col-md-4 mx-auto">
               <!-- <div class="card card-body text-center border-success">
                    {{#each horarios }}
                         <h4 class="m-2">{{dia}} {{hora_inicio}} {{hora_fin}}</h4>
                    {{/each}}     
                  </div>-->
         </div>            
                    <table class="table table-bordered" id="testTable" name="table" >
                       
                        <tr class="table-light">
                            
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Estado Alumno</th>
                            <th>Conflicto de Horarios</th>        

                        </tr>
                        
                        {{#each alumnos}} 
                        <tr>
                            <th>{{email}}</th>
                            <th>{{nombre}}</th>
                            <th>{{apellido}} </th>    
                            <th>
                                <form action="/inscripcion/cambiarEstado/{{id}}/{{materiaId}}" method="POST">
                                <div style="text-align: center;" class="form-group">
                                    {{valAlumno}} 
                                    <button  class="badge badge-warning rounded-pill d-inline">Cambiar Estado</button>
                                </div>
                                </form>    
                            </th>
                            
                            <th>{{conflicto}}</th>
                                  <!--    -->
                        </tr>
                          
                        {{/each}} 
                        </table>
        
       
        
    </div>
    
</div >

</div>